body {
    background-color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: gold;
}


#container { 
    display: flex;
    flex-wrap: wrap;
    border: 1rem;
    background-color: rgb(17, 49, 39);
    height: 800px;
    width: 800px;
    margin: auto;
    align-content: stretch;
    align-items: stretch;
}

.gridSquare {
    
    height: 50px;
    width: 50px;
    padding: 0px;
    background: #e2f0ef;
    border: 0px solid #51aaa3;
    color: #51aaa3;
    margin: 0rem;
    flex-grow: zero;
}